---
import { Image } from 'astro:assets'
import Icon from './Icon.astro'
import type { LogoData } from './logoData'
import { getEntry } from 'astro:content'

interface Props {
  title: string
  description: string
  src?: ImageMetadata
  icons?: LogoData[]
}

const { title, description, src, icons } = Astro.props

const entryID = title.toLocaleLowerCase().replaceAll(' ', '-')
const project = await getEntry('project', `${entryID}`)
---

<div
  class="flex flex-col justify-start h-100 w-90 p-4 gap-4 rounded-3xl bg-bg enlarge-105 hover:bg-light"
>
  <div
    class="w-full h-60 overflow-hidden border-2 rounded-2xl flex justify-center items-center"
  >
    {
      src ? (
        <Image src={src} alt={title} class="w-full h-full object-cover" />
      ) : (
        <p>No image found.</p>
      )
    }
  </div>
  <div class="flex flex-col gap-2">
    <div>
      <a
        href=`/project/${project?.slug}`
        class="text-xl hidden-link font-heading">{title}</a
      >
      <p>{description}</p>
    </div>
    <div class="flex items-center gap-1">
      {
        icons?.map((icon) => (
          <Icon
            title={icon.title}
            rawPath={icon.rawPath}
            hoverColor={icon.hoverColor}
            width={6}
            height={6}
          />
        ))
      }
    </div>
    <div class="flex flex-row gap-2 text-muted">
      {project?.data.tags.map((tag: string) => <span>#{tag}</span>)}
    </div>
  </div>
</div>
